body{
    padding: 0px;
    margin: 0px;
}
.left-background{
    display:inline-block;
    padding: 0px;
    margin: 0px;
    width: 33vw;
    height: 100vh
}
.background-image{
    width: 33vw;
    height: 100vh;
}
.right-background{
    display: inline-block;
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 66vw;
    height: 100vh;
}
.form-wrap{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-33%, -50%);
}

.field-header{
    font-size: 8pt;
    letter-spacing: .16cap;
    margin-bottom: 8px;
}

.expiration-entry, .cvc-entry{
    display: inline-block;
}

.name-input, .number-input {
    width:320px;
    height: 34px;
    padding-left: 12px;
    border-radius: 6px;
    border: solid 1px black
}

.month-input, .year-input{
    width: 52px;
    height: 34px;
    margin-right: 12px;
    padding-left: 12px;
    border-radius: 6px;
    border: solid 1px black
}

.cvc-input{
    width: 152px;
    height: 34px;
    padding-left: 12px;
    border-radius: 6px;
    border: solid 1px black
}