body{
    display: inline-block;
    padding: 0px;
    margin: 0px;
    font-family: "Space Grotesk";
    max-height: 100%;
}
.background-wrap{
    display: flex;
}
.left-background{
    display:inline-block;
    padding: 0px;
    margin: 0px;
    width: 33vw;
    height: 100vh
}
.background-image{
    width: 33vw;
    height: 100vh;
}
.right-background{
    display: inline-block;
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 66vw;
    height: 100vh;
}
.form-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-33.3%, -50%);
    row-gap: 10px;
    z-index: 10;
}

.field-header{
    font-size: 8pt;
    letter-spacing: .12cap;
    margin-bottom: 6px;
    font-weight: 600;
}

.expiration-cvc-container{
    display: flex;
}

.expiration-entry, .cvc-entry{
    display: inline-block;  
}

.name-input, .number-input {
    width:320px;
    height: 34px;
    font-family: "Space Grotesk";
    font-size: 12pt;
    font-weight: 500;
    padding-left: 12px;
    border-radius: 6px;
    border: solid 2px rgb(170, 170, 170);

}

.month-input, .year-input{
    width: 52px;
    height: 34px;
    margin-right: 12px;
    padding-left: 12px;
    font-family: "Space Grotesk";
    font-size: 12pt;
    border-radius: 6px;
    border: solid 2px rgb(170, 170, 170);
}

.cvc-input{
    width: 152px;
    height: 34px;
    font-family: "Space Grotesk";
    font-size: 12pt;
    padding-left: 12px;
    border-radius: 6px;
    border: solid 2px rgb(170, 170, 170);
}

.name-input::placeholder, .number-input::placeholder,
.month-input::placeholder, .year-input::placeholder,
.cvc-input::placeholder{
    color: #b7b2b2;
    opacity: 1;
    font-family: "Space Grotesk";
    font-size: 11pt;
    font-weight: 500;
}
.name-input:focus, .number-input:focus,
.month-input:focus, .year-input:focus,
.cvc-input:focus{
    border: solid 2px #69589f;
    outline: none;
}

.error-highlight{
    border: solid 2px #e87e83;
    outline: none;
}

.error{
    margin: 3px 0px 3px 8px;
    padding: 0px;
    font-family: "Veranda";
    font-size: 10pt;
    color: #e87e83;
    font-weight: 800;
    letter-spacing: .08cap;
    transform: translate(0%, 30%);
}
.submit-button{
    width:334px;
    margin-top:20px;
    padding: 13px 0px;
    background-color: #220930;
    color: white;
    font-size: 13pt;
    font-weight: 600;;
    letter-spacing: .12cap;
    font-family: "Space Grotesk";
    border: none;
    border-radius: 10px;
}

.card-wrap{
    position: absolute;
    display: inline-block;
    top: 31%;
}
.card-front-wrap{
    display: relative;
    z-index: 3;
    background-image: url("/images/card-front.png");
    width: 447px;
    height: 245px;
    display:inline-block;
    transform: translate(-72%);
}
.card-front-logo{
    display: inline;
    transform: translate(34%, 52%);
    z-index: 5;
}
.card-back-wrap{
    display: relative;
    z-index: 4;
    background-image: url("/images/card-back.png");
    width: 447px;
    height: 245px;
    font-display: inline-block;
    transform: translate(-50%);
}
.number-output{
    font-family: "Space Grotesk";
    font-size: 20pt;
    font-weight: 600;
    letter-spacing: .1cap;
    color: #edf0f6;
    transform: translate(7%, 190%);
}
.name-output{
    font-family: "Space Grotesk";
    font-size: 11pt;
    font-weight: 200;
    letter-spacing: .16cap;
    color: #edf0f6;
    transform: translate(7.3%, 348%);
}
.cvc-output{
    font-family: "Space Grotesk";
    font-size: 14pt;
    letter-spacing: .1cap;
    color: #edf0f6;
    transform: translate(80%, 476%);
}
.date-output{
    font-family: "Space Grotesk";
    font-size: 10pt;
    font-weight: 200;
    letter-spacing: .24cap;
    color: #edf0f6;
    transform: translate(78%, 194%);
}

.submit-image{
    width: 80px;
}

.submit-header{
    font-family: "Space Grotesk";
    font-size: 19pt;
    font-weight: 500;
    letter-spacing: .13cap;
    color: #3b2246;
    margin-bottom: 0px;
    margin-top: 12px;
}

.submit-text{
    font-size: 13pt;
    font-weight: 500;
    color: #6b696c;
    margin-top: 6px;
}

@media (max-height: 1110px) {
    .card-wrap{
        top: 26%;
    }
}

@media (max-height: 810px) {
    .card-wrap{
        top: 22%;
    }
}

@media (max-height: 700px) {
    .card-wrap{
        top: 10%;
    }
}

@media (max-height: 620px) {
    .card-wrap{
        top: 4%;
    }
}

@media (max-width: 1050px) {
    .form-wrap{
        left: 62%;
    }
    .name-input, .number-input{
        width: 260px;
    }
    .month-input, .year-input{
        width:36px;
        margin-right: 6px;
        padding-left: 12px;
    }
    .cvc-input{
        width: 131px;
        margin-left: 4px;
    }
    .submit-button{
        width: 260px;
    }
    .card-front-wrap{
        transform: translate(-58%);
    }
}
